
.brandlogoimg{
    width: 100px;
}
.top-bar-row{
    flex-wrap: wrap;
    text-align: right;
}
.topbar{width: 100%;}
.btn-cart{
    background: #efefef;
}
.headerindeex{
    padding-bottom: 0;
}
.cartsection{
    position: relative;
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}
.navbar-nav{
    padding-left: 13%;
}
@media(min-width:481px){
    .brandlogoimg{
        height: 70px;
        width: 100%;
    }
    .headerindeex{
        z-index: 99;
    }
    
}
